html{
  scroll-margin-top: 180px;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}



body{
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  margin:0;
  padding:0;
  color: var(--color-3);
  background-color: #ffffff;
  scroll-behavior: smooth;
}
/* VARIABLE */
:root{
  --primary-color: #009975;
  --secondary-color: #007A63;
  --section-color: #C0A16B;
  --error-background: #f8d7da;
  --error-color: #721c24;
  --success-background: #d4edda;
  --success-color: #155724;
  --black: #2C3E50;
  --color-1: #fff;
  --color-2: #000;
  --color-3: #495057;
}

/* GENERALES */

strong {
  color: pink
}

.space-edge-section{
  margin: 0 100px;
}


.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor:pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--secondary-color);
}

.button:active {
  transform: scale(0.98);
}

.container-button {
  margin: 20px 0;
  text-align: center;
}


.section__subtitle {
  color: #000;
  text-align: center;
  /*Cambiaaleftsiprefieres*/margin: 20px 0 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--section-color);
  /*Líneaelegante*/letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0.5s;
  -moz-transition: all 0.5s ease-in-out 0.5s;
  -ms-transition: all 0.5s ease-in-out 0.5s;
  -o-transition: all 0.5s ease-in-out 0.5s;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-variant: small-caps;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out 0.5s;
}

.section__subtitle.inview { /* cambiar estilos al ser observado*/
  color: var(--black);
  border-bottom-color: var(--section-color);
}
/* section:hover div > .section__subtitle {
  color: var(--section-color);
  border-bottom-color: #333;
} */

/*ACENTO*/

.accent{
  position:relative;
}

.accent::after {
  content:'';
  position: absolute;
  top:-5px;
  left: 5px;
  width: 10px;
  height: 5px;
  background-color: var(--black);
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}


/* INICIO   */
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  color: var(--color-1);
  padding: 15px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/originals/1f/c0/5f/1fc05f051e5d29c30e58d09933b3abd1.jpg);
  background-size: cover; /* Para que la imagen ocupe todo el contenedor */
  background-position: center;
  height: 100vh;
}

.header__title {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.header__subtitle {
  font-family: 'Coutier New', 'Courier New', Courier, monospace;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

.header__subtitle::after {
  content: "|";
  position: absolute;
  right: 0;
  bottom: 0;
  animation: blink 0.7s step-end infinite;
  -webkit-animation: blink 0.7s step-end infinite;
}

@keyframes blick {
  0% { opacity: 1;}
  50% { opacity: 0;}
  100% { opacity: 1}
}

@keyframes underline-animation {
  from{
    width:0%
  }
  to {
    width: 100%
  }
}
.section__content {
  line-height: 30px;
  text-align: justify;
}

/* ANIMACIONES SECCIONES ENTRADA */

/* Estilos iniciales para la sección */

.section{
  margin-bottom: 190px;
  scroll-margin-top: 100px;
  margin-top:-70px;
}

.section:first-child {
  margin-top: 70px
}

.enterfade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  -webkit-transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  -moz-transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  -ms-transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  -o-transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Estilo aplicado cuando la sección está en vista */
.enterfade.inview {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}






.no-scroll {
  overflow: hidden;
}

/* styles.css */


.timeline {
  max-width: 1000px;
  margin: 30px auto;
}

.timeline-container {
  position: relative;
  padding: 10px;
  display: flex;
  flex-flow:wrap row;
  justify-content: space-between;
  gap: 30px;
  margin-left: 30px
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline__category {
  padding-bottom: 1rem;
}

.timeline-content p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

/* Optional: Style for the timeline circle */
.timeline-item::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);

}

.timeline-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -21px;
  width: 2px;
  height: 160%;
  background-color: var(--primary-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* .hide__section{
  display:none;
}
 */

/* Estilo general del formulario */
.form {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo del encabezado */
.form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

/* Estilo de los grupos de campos */
.form-group {
  margin-bottom: 20px;
}

/* Estilo de las etiquetas */
.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
}

/* Estilo de los campos de entrada y área de texto */
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 16px;
  color: #333333;
  box-sizing: border-box;
}

/* Estilo para el área de texto */
.form-group textarea {
  resize: vertical;
}

/* Estilo para los campos con error */
input:invalid,
textarea:invalid {
  border-color: #e63946;
}

/* Estilo de los mensajes de error (si se usan) */
/* Estilo de los mensajes de error */
.error {
  padding: 16px 20px;
  background-color: var(--error-background);
  /*Rojosuave*/color: var(--error-color);
  /*Rojooscuroparaeltexto*/font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  border-left: 6px solid #f5c6cb;
  /*Barradecolorparaacento*/border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
  -webkit-animation: fadeIn 0.5s ease;
  display: block;
}

.error p {
  display: block;
  margin: 5px 0;
  font-size: 1rem;
  letter-spacing: 0;
}

/* Icono dentro del mensaje */
.error::before {
  content: '❌'; /* Puedes reemplazarlo con un icono SVG o de FontAwesome */
  margin-right: 12px;
  font-size: 1.5rem;
}

/* Estilo de los mensajes de éxito */
.success {
  padding: 16px 20px;
  background-color: var(--success-background); /* Verde suave */
  color: var(--success-color); /* Verde oscuro para el texto */
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  border-left: 6px solid #c3e6cb; /* Barra de color para acento */
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
  text-align: left;
}

/* Icono dentro del mensaje */
.success::before {
  content: '✅'; /* Puedes reemplazarlo con un icono SVG o de FontAwesome */
  margin-right: 12px;
  font-size: 1.5rem;
}

/* Animación para suavizar la aparición del mensaje */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
  }
}


/* Barra de redes sociales */
.social-bar {
  position: fixed;
  top: 50%;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 900;
}

.social-icon {
  padding: 10px;
  margin: 5px 0 0 0;
  color: white;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-align: center;
}

.social-icon:hover {
  background-color: #555;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

/* Iconos personalizados */
.social-icon i {
  font-size: 20px;
}

/* Colores específicos para cada red social */
.whatsapp {
  background-color: #25D366;
}

.tiktok {
  background-color: #010101;
}

.instagram {
  background-color: #e4405f;
}

.linkedin {
  background-color: #0077b5;
}


.foda-strengths {
  border-left: 5px solid #28a745;
}

.foda-opportunities {
  border-left: 5px solid #007bff;
}

.foda-weaknesses {
  border-left: 5px solid #ffc107;
}

.foda-threats {
  border-left: 5px solid #dc3545;
}


.slides {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: gray;
}


.slide img {
  display: none;
  width: 100%;
  object-fit: cover;
  transition: all 1s ease;
  aspect-ratio: 16/9;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.slide.active img{
  display: block;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}


.controllers{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 100%;
}

.controllers button {
  color:#fff;
  background-color: transparent;
  border:none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background-color 500ms ease,transform 0.4s ease-out;
  -webkit-transition: background-color 500ms ease,transform 0.4s ease-out;
  -moz-transition: background-color 500ms ease,transform 0.4s ease-out;
  -ms-transition: background-color 500ms ease,transform 0.4s ease-out;
  -o-transition: background-color 500ms ease,transform 0.4s ease-out;
  cursor:pointer;
  font-weight: 600;
}

.controllers button:hover{
  background-color: #555;
}

.controllers button:active{
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.prev-btn {
  position: absolute;
  top:-50%;
  left: 0;
}

.next-btn {
  position: absolute;
  right: 0;
}

.indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin-bottom: 8px;
  z-index: 1000;
}

.indicators .dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #999;
}

.indicators .dot.active {
  background-color: #666;
}

/* footer infomation */
.details {
  font-size: 14px;
  padding: 10px 0 80px 0;
  color: #000;
  text-align: center;
  background-color: #fff;
}

.details p {
  margin: 5px 0; /* Espaciado uniforme entre los párrafos */
  line-height: 1.6; /* Mejora la legibilidad */
}

.details .copyright {
  font-weight: 300; /* Texto ligero para el copyright */
}

.details .autor {
  font-weight: 400; /* Un poco más grueso para destacar el autor */
}

.details a {
  color: #48e; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
  font-weight: 500;
}

.details a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor */
  color: #e67e22; /* Ligera variación de color en hover */
}

.footer-social {
  font-size: 28px;
}
.footer-social a{
  margin: 0 5px;
}

/* Sección ¿Qué hacemos? */
.que-hacemos {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.que-hacemos h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.feature-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.feature {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature i {
  font-size: 2.5rem;
  color: #4CAF50;
  margin-bottom: 15px;
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
  color: #666;
  line-height: 1.8;
}

/* Estilo general */

.about-us__container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-us__mission-vision {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}

.mission, .vision {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.section-two__subtitle{
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--color-2);
}

.mission p, .vision p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.foda-section {
  text-align: left;
  margin-top: 40px;
}

.foda-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.foda-item {
  background-color: var(color-1);
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.foda-item h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-3);
}

.foda-item ul li{
  margin-bottom: 10px;
  font-size:1.1rem;
  list-style: none;
}

/* Responsive mas de 768 */
@media (min-width: 1025px) {
  .about-us__mission-vision {
    flex-direction: row;
    gap: 20px;
  }

  .header__subtitle {
    padding:0 50px;
  }

  /* Estilo general del menú */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Color de fondo más oscuro para un look más elegante */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    font-size: 1rem;
    padding: 10px 0; /* Espaciado superior e inferior */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para añadir profundidad */
  }

  /* Estilo de la lista del menú */
  .menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* Estilo de cada elemento de la lista */
  .menu ul li {
    margin: 0;
    padding: 0;
  }

  /* Estilo de los enlaces del menú */
  .menu ul li a {
    display: block;
    padding: 10px 20px; /* Espaciado interno para un área clicable más grande */
    text-decoration: none;
    color: #ffffff; /* Color del texto */
    font-weight: 500; /* Fuente ligeramente más gruesa para mejor legibilidad */
    text-transform: uppercase; /* Texto en mayúsculas para un look más moderno */
    transition: background-color 300ms ease, color 300ms ease;
    background-color: transparent; /* Fondo transparente por defecto */
    border-radius: 4px; /* Bordes redondeados para un estilo más suave */
  }

  .menu ul li a:hover,
  .menu ul li a:focus {
    background-color: var(--primary-color); /* Color de fondo al pasar el ratón */
    color: #ffffff; /* Color del texto al pasar el ratón */
  }

  .menu ul li a:hover {
    color: #fff;

  }
}


@media screen and (max-width: 1024px) {

  .header {
    height: 100dvh;
    display: flex; /* Si estás usando gap */
    gap: 30px;
    color: #f0f0f0
  }

  .header__title {
    font-size: 3rem;
    animation: fadeInScale 1.5s ease;
    -webkit-animation: fadeInScale 1.5s ease;
    position: relative
   }

   .header__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    background-color: var(--color-1);
    animation: underline-animation 1.5s forwards;
    -webkit-animation: underline-animation 1.5s forwards;
  }
  
  .header__description {
    margin-top:20px;
  }

  /* difuminado */
  @keyframes fadeInScale { 
    0% {
      opacity:0;
      transform: scale(0.8)  ;
      -webkit-transform: scale(0.8)  ;
      -moz-transform: scale(0.8)  ;
      -ms-transform: scale(0.8)  ;
      -o-transform: scale(0.8)  ;
    }
    100% {
      opacity: 1;
      transform: scale(1)  ;
      -webkit-transform: scale(1)  ;
      -moz-transform: scale(1)  ;
      -ms-transform: scale(1)  ;
      -o-transform: scale(1)  ;
    }
  }
  .space-edge-section{
    margin: 0 20px;
  }
  

  /* MENU HAMBURGUESA */
  .menu-toggle {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    z-index: 1000;
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .menu-toggle__bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease;  ;
    -webkit-transition: all 0.3s ease  ;
    -moz-transition: all 0.3s ease  ;
    -ms-transition: all 0.3s ease  ;
    -o-transition: all 0.3s ease  ;
  }
  

  .menu-toggle.active .menu-toggle__bar:first-child{
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg);
    -moz-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
  } 
  .menu-toggle.active .menu-toggle__bar:nth-child(2){
    opacity: 0;
  }
  .menu-toggle.active .menu-toggle__bar:last-child{
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
  }

  /* MENU SHOW*/
  .menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100dvh;
    background-color: #333;
    transition: right 0.3s ease;
    -webkit-transition: right 0.3s ease;
    -moz-transition: right 0.3s ease;
    -ms-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    z-index: 900;
    display:flex;
    align-items:start;
    overflow: auto;
}
  .menu ul {
    width: 100%;
    padding: 0;
    margin: 50px 0 0 0;
    text-align: center;
  }
  
  .menu ul li {
    margin: 20px 0;
    width: 100%;
  }

  .menu ul li a {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    box-sizing: border-box;
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
  }
  .menu ul li a:hover{
    background-color: var(--secondary-color);
  }

  .menu.active {
    right: 0;
  }
  
  .social-bar {
    top: auto;
    left: 50%;
    bottom: 0;
    flex-direction: row;
    transform: translate(-50%,0) scale(1);
    -webkit-transform: translate(-50%,0) scale(1);
    -moz-transform: translate(-50%,0) scale(1);
    -ms-transform: translate(-50%,0) scale(1);
    -o-transform: translate(-50%,0) scale(1);
    transition: opacity 1s ease, transform 1s ease;
    -webkit-transition: opacity 1s ease, transform 1s ease;
    -moz-transition: opacity 1s ease, transform 1s ease;
    -ms-transition: opacity 1s ease, transform 1s ease;
    -o-transition: opacity 1s ease, transform 1s ease;
  }

  .social-bar.visible {
    transform: translate(-50%,100px) scale(0);
    -webkit-transform: translate(-50%,100px) scale(0);
    -moz-transform: translate(-50%,100px) scale(0);
    -ms-transform: translate(-50%,100px) scale(0);
    -o-transform: translate(-50%,100px) scale(0);
  }

  .social-icon {
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
  }

  .social-icon:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }

  .details {
    font-size: 12px;
  }


}
